<div id="content">
    <div class="secondary_page_content">
        <h1>
            Contest Gallery
        </h1>
        <a href="#"><div class="photo"><div class="overlay-box"><div class="overlay-text">621</div></div></div></a>
        <a href="#"><div class="photo"><div id="post_photos"><span id="plus_sign">+</span><span class="text_post">Post</span><br><span class="text_yourphotos">your photos</span></div></div></a>
    </div>
    <div id="icons_sharing">
        <a href="#" onclick="return gclick()"><img id="google" src="/img/icon_social_g+.png"></a>
        <a href="https://twitter.com/intent/tweet?text=Check out the Foo Bar from Cloud Foundry&amp;url=http://foobarbar.cloudfoundry.com&amp;related=cloudfoundry"
        onclick="return poptweet('https://twitter.com/intent/tweet?text=Check out the Foo Bar from Cloud Foundry&amp;url=http://foobarbar.cloudfoundry.com&amp;related=cloudfoundry')"><img id="twitter" src="/img/icon_social_twitter.png"></a>
        <a href="http://www.facebook.com/share.php?u=&lt;;url&gt;" onclick="return fbs_click()"><img src="/img/icon_social_fb.png"></a>
    </div>
    
</div>